.main11{
    padding-top:100px;
      margin-left:25%;
      margin-right:5%;
      height: 1000px;
      overflow: scroll;
     
}
::-webkit-scrollbar {
    display: none;
    }

    tbody {
        counter-reset: row;
        /* Set the row counter to 0 */
      }
      
      tbody tr::before {
        counter-increment: row;
        /* Increment the row counter*/
        content: " "counter(row);
       
        /* Display the row */
      }
    
     tr{
        text-align: center;
      border-bottom: 1px solid #E0E0E0;
      }
      
      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
      .button3 {border-radius: 4px;
        background-color: #4CAF50;
        color: whitesmoke; 
        border: 2px solid #4CAF50;
      }

      .sel {
        border-color: grey;
        background-color: white; /* Green */
        color: black;
      }
 
      