.img-container8 {
    float: left;
    width: 40%;
    
  }
  .img-container18 {
    float: left;
    width: 60%;
    
  }
  
  .auth{
    margin-top: 8%;
    margin-right: 2%;
    margin-left: 11%;
    padding-bottom: 39%;
  }
